
    body {  
      background: rgb(0,39,152);
      background: linear-gradient(344deg, rgba(0,39,152,1) 0%, rgba(255,16,197,0.3) 39%, rgba(0,255,248,1) 72%); 
      background-size: 100% 150%;   
      background-attachment:fixed;
      
    } 

.img-fluid {  
  width: 60px;  
  height: 60px;  
}   
.navbar .navbar-collapse .nav-item .nav-link {  
  overflow-y: auto;  
  color: white;  
}   

.contentRow {
   margin-top: 90px;
}

.hRow {
  text-align:center;
}
table td {
  vertical-align:top;
  text-align:center;
}


ul.results {
  /*padding: 5px;*/
  list-style-type: none;

  border: 2px solid black;
  border-radius: 12px;
}
ul.results_b {
  padding-bottom: 0.5rem;
  /*padding: 5px;*/
  /*margin-top: 0.2rem;*/
  list-style-type: none;
}